Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, components, hooks, backend, service, utilities, scripts, templates, ci

feature: update imports and adjust max-width for item titles
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultItem.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

feature: refactor useResults hook to accept parameters as an object and enhance fetchResults logic
  src/hooks/useArrowKeyControl.ts
  src/hooks/useQueryControl.ts
  src/hooks/useResult.ts
Labels: hooks

feature: refactor useResult hook to accept parameters as an object and update related logic
  src/entrypoints/popup/App.tsx
Labels: popup

feature: remove unused queryTabs, searchHistory, and searchBookmarks methods from RuntimeService
  src/services/runtime/service.ts
Labels: service

feature: remove unused refresh property from useResult hook in App component
  src/entrypoints/popup/App.tsx
Labels: popup

feature: simplify useResult hook destructuring in App component
  src/entrypoints/popup/App.tsx
Labels: popup

feature/remove old service (#90)
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultItem.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
  src/entrypoints/popup/App.tsx
  src/hooks/useArrowKeyControl.ts
  src/hooks/useQueryControl.ts
  src/hooks/useResult.ts
  src/services/runtime/service.ts
Labels: popup, components, hooks, service

feature: refactor calculation action and helper functions for improved clarity and consistency
  src/services/action/converter.ts
  src/services/action/helper.ts
  src/services/action/service.ts
  src/services/action/types.ts
Labels: service

feature: add action service integration for calculation handling in result service
  src/services/result/container.ts
  src/services/result/service.ts
  src/services/result/types.ts
Labels: service

feature: remove unused import of Kind type from result service
  src/services/result/service.ts
Labels: service

feature: fix formatting in action service and helper function signatures
  src/services/action/helper.ts
  src/services/action/service.ts
Labels: service

feature: optimize URL generation in convertCalculation function
  src/services/action/converter.ts
Labels: service

fix: add missing comma in convertCalculation function parameters
  src/services/action/converter.ts
Labels: service

feature: refactor calculation action and helper functions for improved clarity and consistency (#91)
  src/services/action/converter.ts
  src/services/action/helper.ts
  src/services/action/service.ts
  src/services/action/types.ts
  src/services/result/container.ts
  src/services/result/service.ts
  src/services/result/types.ts
Labels: service

feature: add CalculationItem component with icons and layout
  src/components/widgets/CalculationItem/CalculationItem.stories.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
Labels: components

feature: replace ButtonItem with CalculationItem in ResultItem component
  src/components/widgets/ResultList/part/ResultItem/ResultItem.tsx
Labels: components

feature: update icon imports in BookmarkItem and HistoryItem components for improved clarity
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
Labels: components

fix: correct ActionCalculation type to Action.Calculation in useEnterKeyControl hook
  src/hooks/useEnterKeyControl.ts
Labels: hooks

style: fix formatting and add missing commas in CalculationItem component
  src/components/widgets/CalculationItem/CalculationItem.stories.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
Labels: components

fix: correct calculation result in CalculationItem and improve icon rendering
  src/components/widgets/CalculationItem/CalculationItem.stories.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
Labels: components

style: fix formatting and add missing comma in CalculationItem component
  src/components/widgets/CalculationItem/CalculationItem.tsx
Labels: components

style: fix formatting in CalculationItem component
  src/components/widgets/CalculationItem/CalculationItem.tsx
Labels: components

feature/add calu item components (#92)
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/CalculationItem/CalculationItem.stories.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultItem.tsx
  src/hooks/useEnterKeyControl.ts
Labels: components, hooks

feature: remove unused useActionCalculation hook
  src/hooks/action/useActionCalculation.ts
Labels: hooks

feature: refactor useQueryControl to return state object directly
  src/entrypoints/popup/App.tsx
  src/hooks/useQueryControl.ts
Labels: popup, hooks

feature: add resetSelectedIndex function to useArrowKeyControl hook
  src/hooks/useArrowKeyControl.ts
Labels: hooks

feature: add resetSelectedIndex to useArrowKeyControl integration in App component
  src/entrypoints/popup/App.tsx
Labels: popup

fix: correct formatting of destructured variables in App component
  src/entrypoints/popup/App.tsx
Labels: popup

feature/fix some problem (#93)
  src/entrypoints/popup/App.tsx
  src/hooks/action/useActionCalculation.ts
  src/hooks/useArrowKeyControl.ts
  src/hooks/useQueryControl.ts
Labels: popup, hooks

feature: update button text for clarity in BookmarkItem, CalculationItem, HistoryItem, SuggestionItem, and TabItem components
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

feature: update button text for clarity in BookmarkItem, CalculationItem, HistoryItem, SuggestionItem, and TabItem components (#95)
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: update import path for ThemeValue in ThemeProvider component
  src/context/ThemeProvider.tsx
Labels: components

feat: add useDebounce hook for value debouncing functionality
  src/hooks/useDebounce.ts
Labels: hooks

feat: implement debouncing for query input in App component
  src/entrypoints/popup/App.tsx
Labels: popup

feature/add use debounce query (#96)
  src/entrypoints/popup/App.tsx
  src/hooks/useDebounce.ts
Labels: popup, hooks

doc: update
  README.md
  doc/README-ja.md
Labels: none

doc: update (#97)
  README.md
  doc/README-ja.md
Labels: none

style: add snap-start class to ButtonItem and update ResultList class for improved scrolling behavior
  src/components/modules/ButtonItem/ButtonItem.tsx
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

fix: adjust max-width for title in TabItem component for better layout
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

feat: implement useSearch hook with query management and storage functionality
  src/hooks/useSearch/constants.ts
  src/hooks/useSearch/helper.ts
  src/hooks/useSearch/hook.ts
  src/hooks/useSearch/index.ts
  src/hooks/useSearch/reducer.ts
  src/hooks/useSearch/storage.ts
  src/hooks/useSearch/types.ts
Labels: hooks

.github/labeler.yml:

doc:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
      - any-glob-to-any-file: "src/entrypoints/popup/**"
components:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/context/**"
hooks:
  - changed-files:
      - any-glob-to-any-file: "src/hooks/**"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - "src/entrypoints/background/**"
service:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
utilities:
  - changed-files:
      - any-glob-to-any-file: "src/utils/**"
scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
templates:
  - changed-files:
      - any-glob-to-any-file: "src/templates/**"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".gemini/**"
