Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, components, hooks, backend, service, utilities, scripts, templates, ci

Update src/services/storage/helper.ts
  src/services/storage/helper.ts
Labels: service

Update src/services/storage/helper.ts
  src/services/storage/helper.ts
Labels: service

Update src/services/storage/helper.ts
  src/services/storage/helper.ts
Labels: service

Feature: i18n対応のため言語管理機能を追加 (#110)
  src/services/storage/helper.ts
  src/services/storage/service.ts
  src/services/storage/types.ts
Labels: service

Feature: 翻訳サービスを追加し、i18n機能を実装
  src/context/TranslationProvider.tsx
  src/hooks/storage/useTranslation.ts
  src/lib/i18n.ts
Labels: components, hooks

Feature: 翻訳サービスを統合し、UI要素にi18n対応を追加
  src/components/modules/Layout/Layout.tsx
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/NotFoundItem/NotFoundItem.tsx
  src/components/widgets/ResultFooter/ResultFooter.tsx
  src/components/widgets/SearchInput/SearchInput.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
  src/components/widgets/ThemeSelectButton/ThemeSelectButton.tsx
  src/entrypoints/popup/App.tsx
Labels: popup, components

Feature: DropdownMenuコンポーネントと関連ファイルを削除
  src/components/modules/DropdownMenu/DropdownMenu.stories.tsx
  src/components/modules/DropdownMenu/DropdownMenu.tsx
  src/components/modules/DropdownMenu/hooks/index.ts
  src/components/modules/DropdownMenu/hooks/useDropdownMenu.ts
  src/components/modules/DropdownMenu/index.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.tsx
  src/components/modules/DropdownMenu/part/index.tsx
Labels: components

Feature: @headlessui/reactを依存関係に追加
  package.json
  pnpm-lock.yaml
Labels: none

Feature: DropdownMenuコンポーネントを@headlessui/reactのMenuコンポーネントに置き換え
  src/components/widgets/ThemeSelectButton/ThemeSelectButton.tsx
Labels: components

Feature: 言語関連の機能を削除し、ストレージサービスを整理
  src/services/storage/helper.ts
  src/services/storage/service.ts
  src/services/storage/types.ts
Labels: service

Feature: 翻訳サービスのコードを整理し、不要な機能を削除
  src/hooks/storage/useTheme.ts
  src/hooks/storage/useTranslation.ts
Labels: hooks

Feature: 翻訳サービスを削除し、テーマプロバイダーを整理。言語オプションを追加
  src/components/modules/Layout/Layout.tsx
  src/components/modules/index.tsx
  src/context/ThemeProvider.tsx
  src/context/TranslationProvider.tsx
  src/locales/en.json
  src/locales/ja.json
Labels: components

Feature: MenuItemsコンポーネントのスタイルを改善し、アニメーション効果を追加
  src/components/widgets/ThemeSelectButton/ThemeSelectButton.tsx
Labels: components

Feature: StorageServiceにsubscribeメソッドを追加し、ストレージの変更を監視できるようにした
  src/services/storage/service.ts
Labels: service

Feature: useThemeフックをリファクタリングし、useSyncExternalStoreを使用してテーマの状態管理を改善
  src/hooks/storage/useTheme.ts
Labels: hooks

Feature: 不要なinstallパッケージのエントリをpnpm-lock.yamlから削除
  pnpm-lock.yaml
Labels: none

feature/add translation service (#111)
  package.json
  pnpm-lock.yaml
  src/components/modules/DropdownMenu/DropdownMenu.stories.tsx
  src/components/modules/DropdownMenu/DropdownMenu.tsx
  src/components/modules/DropdownMenu/hooks/index.ts
  src/components/modules/DropdownMenu/hooks/useDropdownMenu.ts
  src/components/modules/DropdownMenu/index.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.tsx
  src/components/modules/DropdownMenu/part/index.tsx
  src/components/modules/index.tsx
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/CalculationItem/CalculationItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/NotFoundItem/NotFoundItem.tsx
  src/components/widgets/ResultFooter/ResultFooter.tsx
  src/components/widgets/SearchInput/SearchInput.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
  src/components/widgets/ThemeSelectButton/ThemeSelectButton.tsx
  src/context/ThemeProvider.tsx
  src/entrypoints/popup/App.tsx
  src/hooks/storage/useTheme.ts
  src/hooks/storage/useTranslation.ts
  src/lib/i18n.ts
  src/locales/en.json
  src/locales/ja.json
  src/services/storage/helper.ts
  src/services/storage/service.ts
  src/services/storage/types.ts
Labels: popup, components, hooks, service

Spinnerコンポーネントのボーダーカラーを青からスカイブルーに変更
  src/components/modules/Spinner/Spinner.tsx
Labels: components

ResultListコンポーネントにローディング状態の表示を追加
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

useSearchResultsV2フックを追加し、検索結果の取得ロジックを改善
  src/entrypoints/popup/App.tsx
  src/hooks/useSearchResultsV2/hook.ts
  src/hooks/useSearchResultsV2/index.ts
  src/hooks/useSearchResultsV2/types.ts
Labels: popup, hooks

UIのローディングメッセージを「Loading...」から「Searching...」に変更
  src/locales/en.json
  src/locales/ja.json
Labels: none

useSearchResultsフック関連のコードを削除し、リファクタリングを実施
  src/hooks/useSearchResults/constants.ts
  src/hooks/useSearchResults/helper.ts
  src/hooks/useSearchResults/hook.ts
  src/hooks/useSearchResults/index.ts
  src/hooks/useSearchResults/types.ts
Labels: hooks

useSearchResultsV2フックのエラーハンドリングを改善し、定数の整理を実施
  src/hooks/useSearchResultsV2/hook.ts
  src/hooks/useSearchResultsV2/types.ts
Labels: hooks

ResultListコンポーネントのuseMemo依存配列にonClickとselectedIndexを追加
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

useSearchResultsV2フックのリファクタリングとエラーハンドリングの改善を実施
  src/hooks/useSearchResultsV2/helper.ts
  src/hooks/useSearchResultsV2/hook.ts
  src/hooks/useSearchResultsV2/types.ts
Labels: hooks

index.htmlのDOCTYPEを小文字に変更し、main.tsxでReactDOMのインポートをcreateRootに変更
  src/entrypoints/popup/index.html
  src/entrypoints/popup/main.tsx
Labels: popup

Feature: スクリプトディレクトリへの移行とコード生成機能の追加
  go.work
  scripts/cmd/code_gen.go
  scripts/go.mod
  scripts/go.sum
  scripts/main.go
  scripts/pkg/file-operator/file_operator.go
  scripts/pkg/prompt/prompt.go
  scripts/pkg/str-operator/str_operator.go
  scripts/tasks/code-gen/code_gen.go
  scripts/tasks/code-gen/component.go
  scripts/tasks/code-gen/helper.go
  scripts/tasks/code-gen/service.go
  scripts/tool/cmd/main.go
  scripts/tool/cmd/setup.go
  scripts/tool/go.mod
  scripts/tool/go.sum
  scripts/tool/prompt/prompt.go
  scripts/tool/service/generate_component.go
  scripts/tool/service/generate_service.go
  scripts/tool/service/helper.go
  scripts/tool/service/tool.go
  scripts/util/fileutil/main.go
  scripts/util/go.mod
  scripts/util/strutil/main.go
Labels: scripts

Feature: スクリプトディレクトリへの移行とコード生成機能の追加 (#114)
  go.work
  scripts/cmd/code_gen.go
  scripts/go.mod
  scripts/go.sum
  scripts/main.go
  scripts/pkg/file-operator/file_operator.go
  scripts/pkg/prompt/prompt.go
  scripts/pkg/str-operator/str_operator.go
  scripts/tasks/code-gen/code_gen.go
  scripts/tasks/code-gen/component.go
  scripts/tasks/code-gen/helper.go
  scripts/tasks/code-gen/service.go
  scripts/tool/cmd/main.go
  scripts/tool/cmd/setup.go
  scripts/tool/go.mod
  scripts/tool/go.sum
  scripts/tool/prompt/prompt.go
  scripts/tool/service/generate_component.go
  scripts/tool/service/generate_service.go
  scripts/tool/service/helper.go
  scripts/tool/service/tool.go
  scripts/util/fileutil/main.go
  scripts/util/go.mod
  scripts/util/strutil/main.go
Labels: scripts

Feature: コードの一貫性を保つためにパッケージ名を修正
  scripts/cmd/code_gen.go
  scripts/tasks/code-gen/code_gen.go
  scripts/tasks/code-gen/component.go
  scripts/tasks/code-gen/helper.go
  scripts/tasks/code-gen/service.go
Labels: scripts

Feature: .gitignoreにローカルbinディレクトリを追加し、不要なスクリプトファイルを削除
  .gitignore
Labels: none

Feature/change file name (#115)
  .gitignore
  scripts/cmd/code_gen.go
  scripts/tasks/code-gen/code_gen.go
  scripts/tasks/code-gen/component.go
  scripts/tasks/code-gen/helper.go
  scripts/tasks/code-gen/service.go
Labels: scripts

Feature: プライバシーポリシーとREADMEを追加
  docs/DESCRIPTION.md
  docs/README-ja.md
Labels: doc

Feature: Remove Modal and Accordion components along with their stories and hooks
  src/components/content/Modal/Modal.stories.tsx
  src/components/content/Modal/Modal.tsx
  src/components/content/index.tsx
  src/components/modules/Accordion/Accordion.stories.tsx
  src/components/modules/Accordion/Accordion.tsx
  src/components/modules/Accordion/hooks/index.ts
  src/components/modules/Accordion/hooks/useAccordion.ts
  src/components/modules/Accordion/index.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.stories.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.stories.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.tsx
  src/components/modules/Accordion/part/index.tsx
  src/components/modules/index.tsx
Labels: components

Chore/organiz (#116)
  docs/DESCRIPTION.md
  docs/README-ja.md
  src/components/content/Modal/Modal.stories.tsx
  src/components/content/Modal/Modal.tsx
  src/components/content/index.tsx
  src/components/modules/Accordion/Accordion.stories.tsx
  src/components/modules/Accordion/Accordion.tsx
  src/components/modules/Accordion/hooks/index.ts
  src/components/modules/Accordion/hooks/useAccordion.ts
  src/components/modules/Accordion/index.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.stories.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.stories.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.tsx
  src/components/modules/Accordion/part/index.tsx
  src/components/modules/index.tsx
Labels: doc, components

Fix package naming inconsistencies in file_operator and code_gen
  scripts/pkg/file-operator/file_operator.go
  scripts/tasks/code-gen/code_gen.go
Labels: scripts

docs: update README to enhance clarity and detail on architecture and features
  CLAUDE.md
  README.md
  docs/README-ja.md
Labels: doc

fix: reorder import statements for consistency
  src/features/search/components/ResultList/part/ResultItem/ResultItem.tsx
Labels: none

feat: Vitest テスト環境をセットアップ (Phase 0)
  package.json
  pnpm-lock.yaml
  src/test/setup.ts
  src/test/smoke.test.ts
  src/utils/math.ts
  vitest.config.ts
  wxt.config.ts
Labels: utilities

feat: wxt.config.tsからextensionApi設定を削除
  wxt.config.ts
Labels: none

feat: implement side panel view mode and settings options
  src/entrypoints/background/index.ts
  src/entrypoints/background/router/command.ts
  src/entrypoints/background/router/message.ts
  src/entrypoints/options/App.tsx
  src/entrypoints/options/index.html
  src/entrypoints/options/main.tsx
  src/entrypoints/sidepanel/App.tsx
  src/entrypoints/sidepanel/index.html
  src/entrypoints/sidepanel/main.tsx
  src/features/search/components/ResultFooter/ResultFooter.tsx
  src/features/search/components/SearchApp/SearchApp.tsx
  src/features/settings/components/SettingsButton/SettingsButton.tsx
  src/features/settings/components/ViewModeSelect/ViewModeSelect.tsx
  src/features/settings/hooks/useViewMode.ts
  src/locales/en.json
  src/locales/ja.json
  src/services/runtime/types.ts
  src/services/storage/helper.ts
  src/services/storage/service.ts
  src/services/storage/types.ts
  tsconfig.json
  wxt.config.ts
Labels: backend, service

.github/labeler.yml:

doc:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
      - any-glob-to-any-file: "src/entrypoints/popup/**"
components:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/context/**"
hooks:
  - changed-files:
      - any-glob-to-any-file: "src/hooks/**"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - "src/entrypoints/background/**"
service:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
utilities:
  - changed-files:
      - any-glob-to-any-file: "src/utils/**"
scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
templates:
  - changed-files:
      - any-glob-to-any-file: "src/templates/**"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".gemini/**"
