Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, components, hooks, backend, service, utilities, scripts, templates, ci

feat: add useSearchResults hook with caching, retry, and error handling features
  src/hooks/useSearchResults/constants.ts
  src/hooks/useSearchResults/helper.ts
  src/hooks/useSearchResults/hook.ts
  src/hooks/useSearchResults/index.ts
  src/hooks/useSearchResults/types.ts
Labels: hooks

feat: add useSearchKeyboard hook with key bindings and navigation functionality
  src/hooks/useSearchKeyboard/constants.ts
  src/hooks/useSearchKeyboard/helper.ts
  src/hooks/useSearchKeyboard/hook.ts
  src/hooks/useSearchKeyboard/index.ts
  src/hooks/useSearchKeyboard/types.ts
Labels: hooks

feat: add useSearchShortcut hook with constants, helper functions, and type definitions for shortcut management
  src/hooks/useSearchShortcut/constants.ts
  src/hooks/useSearchShortcut/helper.ts
  src/hooks/useSearchShortcut/hook.ts
  src/hooks/useSearchShortcut/index.ts
  src/hooks/useSearchShortcut/types.ts
Labels: hooks

feat: refactor search functionality by consolidating hooks and removing unused code
  src/entrypoints/popup/App.tsx
  src/hooks/useArrowKeyControl.ts
  src/hooks/useDebounce.ts
  src/hooks/useEnterKeyControl.ts
  src/hooks/usePopupShortcut.ts
  src/hooks/useQueryControl.ts
  src/hooks/useResult.ts
Labels: popup, hooks

feat: replace n-gram similarity calculation with matchScore function and clean up unused code
  src/hooks/useSearch/helper.ts
  src/hooks/useSearchResults/hook.ts
  src/utils/algorithm.ts
Labels: hooks, utilities

chore/fix layout css (#98)
  src/components/modules/ButtonItem/ButtonItem.tsx
  src/components/widgets/ResultList/ResultList.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

feature/refactor use hooks (#99)
  src/entrypoints/popup/App.tsx
  src/hooks/useArrowKeyControl.ts
  src/hooks/useDebounce.ts
  src/hooks/useEnterKeyControl.ts
  src/hooks/usePopupShortcut.ts
  src/hooks/useQueryControl.ts
  src/hooks/useResult.ts
  src/hooks/useSearch/constants.ts
  src/hooks/useSearch/helper.ts
  src/hooks/useSearch/hook.ts
  src/hooks/useSearch/index.ts
  src/hooks/useSearch/reducer.ts
  src/hooks/useSearch/storage.ts
  src/hooks/useSearch/types.ts
  src/hooks/useSearchKeyboard/constants.ts
  src/hooks/useSearchKeyboard/helper.ts
  src/hooks/useSearchKeyboard/hook.ts
  src/hooks/useSearchKeyboard/index.ts
  src/hooks/useSearchKeyboard/types.ts
  src/hooks/useSearchResults/constants.ts
  src/hooks/useSearchResults/helper.ts
  src/hooks/useSearchResults/hook.ts
  src/hooks/useSearchResults/index.ts
  src/hooks/useSearchResults/types.ts
  src/hooks/useSearchShortcut/constants.ts
  src/hooks/useSearchShortcut/helper.ts
  src/hooks/useSearchShortcut/hook.ts
  src/hooks/useSearchShortcut/index.ts
  src/hooks/useSearchShortcut/types.ts
  src/utils/algorithm.ts
Labels: popup, hooks, utilities

feature: add click handler to ResultList component
  src/entrypoints/popup/App.tsx
Labels: popup

feature: add correctness rule to linter configuration
  biome.json
Labels: none

feature/fix on click action (#101)
  biome.json
  src/entrypoints/popup/App.tsx
Labels: popup

検索結果キャッシュフックを削除
  src/hooks/useSearch/constants.ts
  src/hooks/useSearch/hook.ts
  src/hooks/useSearch/storage.ts
Labels: hooks

検索履歴の最大保存件数のオプションを削除
  src/hooks/useSearch/types.ts
Labels: hooks

検索結果キャッシュフックを削除 (#103)
  src/hooks/useSearch/constants.ts
  src/hooks/useSearch/hook.ts
  src/hooks/useSearch/storage.ts
  src/hooks/useSearch/types.ts
Labels: hooks

アプリクエリの変換機能を追加し、ローカルストレージの取得・設定機能を実装
  src/services/storage/converter.ts
  src/services/storage/helper.ts
  src/services/storage/service.ts
  src/services/storage/types.ts
Labels: service

コンポーネントタイプの選択肢を修正: "modals" を "modules" に変更
  scripts/tool/service/generate_component.go
Labels: scripts

コンポーネントタイプの選択肢を修正: "modals" を "modules" に変更 (#104)
  scripts/tool/service/generate_component.go
Labels: scripts

Tabコンポーネントの追加
  src/components/modules/Tab/Tab.stories.tsx
  src/components/modules/Tab/Tab.tsx
Labels: components

TabPanelのコンポーネント
  src/components/modules/TabPanel/TabPanel.stories.tsx
  src/components/modules/TabPanel/TabPanel.tsx
Labels: components

TabおよびTabPanelコンポーネントをインデックスに追加
  src/components/modules/index.tsx
Labels: components

feat: add Accordion components
  src/components/modules/Accordion/Accordion.stories.tsx
  src/components/modules/Accordion/Accordion.tsx
  src/components/modules/Accordion/hooks/index.ts
  src/components/modules/Accordion/hooks/useAccordion.ts
  src/components/modules/Accordion/index.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.stories.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.stories.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.tsx
  src/components/modules/Accordion/part/index.tsx
Labels: components

feat: Accordionコンポーネントを追加
  src/components/modules/index.tsx
Labels: components

fix: 細かな修正
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
Labels: components

fix: 不要なスペースを削除し、コメントを更新
  src/components/modules/Accordion/Accordion.stories.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
Labels: components

fix: レビューの内容の修正
  src/components/modules/Accordion/Accordion.stories.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
Labels: components

feat: clsxを使用してAccordionコンポーネントのクラス名を改善し、AccordionTitleにaria-expanded属性を追加
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.tsx
Labels: components

Feature/add-accordion-modules-components (#105)
  src/components/modules/Accordion/Accordion.stories.tsx
  src/components/modules/Accordion/Accordion.tsx
  src/components/modules/Accordion/hooks/index.ts
  src/components/modules/Accordion/hooks/useAccordion.ts
  src/components/modules/Accordion/index.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.stories.tsx
  src/components/modules/Accordion/part/AccordionContent/AccordionContent.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.stories.tsx
  src/components/modules/Accordion/part/AccordionTitle/AccordionTitle.tsx
  src/components/modules/Accordion/part/index.tsx
  src/components/modules/index.tsx
Labels: components

DropdownMenuコンポーネントとそのサブコンポーネントを追加し、ストーリーを作成
  src/components/modules/DropdownMenu/DropdownMenu.stories.tsx
  src/components/modules/DropdownMenu/DropdownMenu.tsx
  src/components/modules/DropdownMenu/hooks/index.ts
  src/components/modules/DropdownMenu/hooks/useDropdownMenu.ts
  src/components/modules/DropdownMenu/index.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.tsx
  src/components/modules/DropdownMenu/part/index.tsx
Labels: components

DropdownMenuコンポーネントとその関連型をインデックスに追加
  src/components/modules/index.tsx
Labels: components

DropdownMenuコンポーネントのストーリーで表示テキストを修正し、useDropdownMenuフックのエラーメッセージを明確化
  src/components/modules/DropdownMenu/DropdownMenu.stories.tsx
  src/components/modules/DropdownMenu/hooks/useDropdownMenu.ts
Labels: components

DropdownMenuButtonコンポーネントにaria-haspopup属性を追加し、StatefulDropdownMenuでclsxを使用してクラス名を管理
  src/components/modules/DropdownMenu/DropdownMenu.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.tsx
Labels: components

Feature/add drop down menu modules components (#106)
  src/components/modules/DropdownMenu/DropdownMenu.stories.tsx
  src/components/modules/DropdownMenu/DropdownMenu.tsx
  src/components/modules/DropdownMenu/hooks/index.ts
  src/components/modules/DropdownMenu/hooks/useDropdownMenu.ts
  src/components/modules/DropdownMenu/index.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuButton/DropdownMenuButton.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItem/DropdownMenuItem.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.stories.tsx
  src/components/modules/DropdownMenu/part/DropdownMenuItems/DropdownMenuItems.tsx
  src/components/modules/DropdownMenu/part/index.tsx
  src/components/modules/index.tsx
Labels: components

テーマ選択ボタンのUI/UXを改善し、ドロップダウンメニューを実装
  src/components/widgets/ThemeSelectButton/ThemeSelectButton.tsx
Labels: components

Footerコンポーネントのパディングを削除し、UIを調整
  src/components/widgets/ResultFooter/ResultFooter.tsx
Labels: components

Layoutコンポーネントのパディングを修正し、UIを調整
  src/components/modules/Layout/Layout.tsx
Labels: components

ThemeSelectButtonコンポーネントのクラス名からdefaultClassName.baseを削除し、UIを調整
  src/components/widgets/ThemeSelectButton/ThemeSelectButton.tsx
Labels: components

Feature/add-drop-down-menu-modules-components (#108)
  src/components/modules/Layout/Layout.tsx
  src/components/widgets/ResultFooter/ResultFooter.tsx
  src/components/widgets/ThemeSelectButton/ThemeSelectButton.tsx
Labels: components

Feature: i18n対応のため言語管理機能を追加 - 言語取得・設定メソッドをストレージサービスに追加 - 言語値のバリデーションを実装 - 言語キーを"i18n_language"に変更
  src/services/storage/helper.ts
  src/services/storage/service.ts
  src/services/storage/types.ts
Labels: service

Feature/install wxt-i18n module and add localization support for English and Japanese
  package.json
  pnpm-lock.yaml
  src/locales/en.json
  src/locales/ja.json
  wxt.config.ts
Labels: none

Feature/install wxt-i18n module and add localization support for English and Japanese (#109)
  package.json
  pnpm-lock.yaml
  src/locales/en.json
  src/locales/ja.json
  wxt.config.ts
Labels: none

コードの整形: 不要な空行を削除し、型定義の引数にカンマを追加
  src/services/storage/helper.ts
  src/services/storage/service.ts
Labels: service

.github/labeler.yml:

doc:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
      - any-glob-to-any-file: "src/entrypoints/popup/**"
components:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/context/**"
hooks:
  - changed-files:
      - any-glob-to-any-file: "src/hooks/**"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - "src/entrypoints/background/**"
service:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
utilities:
  - changed-files:
      - any-glob-to-any-file: "src/utils/**"
scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
templates:
  - changed-files:
      - any-glob-to-any-file: "src/templates/**"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".gemini/**"
