Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, components, hooks, backend, service, utilities, scripts, templates, ci

.github/labeler.yml:

doc:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
      - any-glob-to-any-file: "src/entrypoints/popup/**"
components:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/context/**"
hooks:
  - changed-files:
      - any-glob-to-any-file: "src/hooks/**"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - "src/entrypoints/background/**"
service:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
utilities:
  - changed-files:
      - any-glob-to-any-file: "src/utils/**"
scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
templates:
  - changed-files:
      - any-glob-to-any-file: "src/templates/**"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".gemini/**"

fix: add missing commas in function parameter definitions in converter.ts
  src/services/history/converter.ts
Labels: service

feature: add favicon icon params (#81)
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
  src/services/bookmark/types.ts
  src/services/history/converter.ts
  src/services/history/helper.ts
  src/services/history/types.ts
Labels: components, service

feature: refactor tab conversion and query handling; mark for future removal
  src/services/tab/converter.ts
  src/services/tab/helper.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
Labels: service

feature: remove unused import and function for sorting new tabs
  src/services/tab/helper.ts
Labels: service

feature: refactor tab conversion and query handling; mark for future removal (#82)
  src/services/tab/converter.ts
  src/services/tab/helper.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
Labels: service

feature: improve error handling in query results and refactor data access
  src/services/result/service.ts
Labels: service

feature: improve error handling in query results and refactor data access (#83)
  src/services/result/service.ts
Labels: service

refactor: remove unused components and hooks; update result types to string literals
  src/components/widgets/ResultLine/ResultLine.stories.tsx
  src/components/widgets/ResultLine/ResultLine.tsx
  src/components/widgets/ResultLine/parts/BookmarkItem.tsx
  src/components/widgets/ResultLine/parts/CalculationItem.tsx
  src/components/widgets/ResultLine/parts/CommonItem.tsx
  src/components/widgets/ResultLine/parts/HistoryItem.tsx
  src/components/widgets/ResultLine/parts/SuggestionItem.tsx
  src/components/widgets/ResultLine/parts/TabItem.tsx
  src/hooks/query/useQueryBookmarks.ts
  src/hooks/query/useQueryHistories.ts
  src/hooks/query/useQuerySuggestions.ts
  src/hooks/query/useQueryTabs.ts
  src/hooks/useEnterKeyControl.ts
  src/hooks/useQueryControl.ts
  src/hooks/useResults.ts
  src/services/bookmark/converter.ts
  src/services/bookmark/types.ts
  src/services/history/converter.ts
  src/services/history/types.ts
  src/services/suggestion/converter.ts
  src/services/suggestion/types.ts
  src/services/tab/converter.ts
  src/services/tab/types.ts
Labels: components, hooks, service

feature: replace ResultLine with ResultList component; update query handling and loading states
  src/entrypoints/popup/App.tsx
Labels: popup

feature: implement useResults hook for fetching and managing query results
  src/hooks/useResult.ts
Labels: hooks

fix: add missing comma in layout class names for proper styling
  src/entrypoints/popup/App.tsx
Labels: popup

fix: add missing comma in icon class names for proper rendering
  src/entrypoints/popup/App.tsx
Labels: popup

feature/remove old result types (#84)
  src/components/widgets/ResultLine/ResultLine.stories.tsx
  src/components/widgets/ResultLine/ResultLine.tsx
  src/components/widgets/ResultLine/parts/BookmarkItem.tsx
  src/components/widgets/ResultLine/parts/CalculationItem.tsx
  src/components/widgets/ResultLine/parts/CommonItem.tsx
  src/components/widgets/ResultLine/parts/HistoryItem.tsx
  src/components/widgets/ResultLine/parts/SuggestionItem.tsx
  src/components/widgets/ResultLine/parts/TabItem.tsx
  src/entrypoints/popup/App.tsx
  src/hooks/query/useQueryBookmarks.ts
  src/hooks/query/useQueryHistories.ts
  src/hooks/query/useQuerySuggestions.ts
  src/hooks/query/useQueryTabs.ts
  src/hooks/useEnterKeyControl.ts
  src/hooks/useQueryControl.ts
  src/hooks/useResult.ts
  src/hooks/useResults.ts
  src/services/bookmark/converter.ts
  src/services/bookmark/types.ts
  src/services/history/converter.ts
  src/services/history/types.ts
  src/services/suggestion/converter.ts
  src/services/suggestion/types.ts
  src/services/tab/converter.ts
  src/services/tab/types.ts
Labels: popup, components, hooks, service

feature: remove unused ResultType and Result definitions
  src/types/result.ts
Labels: none

feature: refactor bookmark, history, suggestion, and tab services; remove unused types and functions
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
  src/services/bookmark/service.ts
  src/services/bookmark/types.ts
  src/services/history/converter.ts
  src/services/history/service.ts
  src/services/history/types.ts
  src/services/result/service.ts
  src/services/suggestion/converter.ts
  src/services/suggestion/helper.ts
  src/services/suggestion/service.ts
  src/services/suggestion/types.ts
  src/services/tab/converter.ts
  src/services/tab/helper.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
Labels: service

feature: restrict limitResults to Tab type for improved type safety
  src/services/tab/helper.ts
Labels: service

fix: add missing comma in filterValidBookmarks function parameters
  src/services/bookmark/helper.ts
  src/services/bookmark/service.ts
Labels: service

fix: add missing comma in queryFiltered function parameters
  src/services/tab/helper.ts
Labels: service

chore/remove types resutls (#85)
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
  src/services/bookmark/service.ts
  src/services/bookmark/types.ts
  src/services/history/converter.ts
  src/services/history/service.ts
  src/services/history/types.ts
  src/services/result/service.ts
  src/services/suggestion/converter.ts
  src/services/suggestion/helper.ts
  src/services/suggestion/service.ts
  src/services/suggestion/types.ts
  src/services/tab/converter.ts
  src/services/tab/helper.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
  src/types/result.ts
Labels: service

feature: add fuse.js dependency to enhance search functionality
  package.json
  pnpm-lock.yaml
Labels: none

feature: refactor bookmark conversion and helper functions for improved structure and functionality
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
  src/services/bookmark/service.ts
  src/services/bookmark/types.ts
Labels: service

feature: update history conversion and helper functions to improve structure and remove unnecessary comments
  src/services/history/converter.ts
  src/services/history/helper.ts
  src/services/history/types.ts
Labels: service

feature: update tab conversion logic and types for improved structure and data handling
  src/services/tab/converter.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
Labels: service

feature: rename and update suggestion conversion functions for consistency and improved structure
  src/services/suggestion/converter.ts
  src/services/suggestion/service.ts
  src/services/suggestion/types.ts
Labels: service

feature: remove converter functions and integrate fuse.js search functionality for improved result handling
  src/services/result/converter.ts
  src/services/result/helper.ts
  src/services/result/service.ts
Labels: service

feature: remove unused converter export from result service index
  src/services/result/index.ts
Labels: service

feature: refactor filterValidBookmarks for improved readability and structure
  src/services/bookmark/helper.ts
  src/services/result/helper.ts
Labels: service

fix: add missing comma in getRecent request type definition
  src/services/bookmark/service.ts
Labels: service

fix: add missing commas in query method type definitions for consistency
  src/services/result/service.ts
  src/services/tab/service.ts
Labels: service

fix: improve type definition for fuseSearch function for consistency
  src/services/result/helper.ts
Labels: service

feature/add fuz search (#86)
  package.json
  pnpm-lock.yaml
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
  src/services/bookmark/service.ts
  src/services/bookmark/types.ts
  src/services/history/converter.ts
  src/services/history/helper.ts
  src/services/history/types.ts
  src/services/result/converter.ts
  src/services/result/helper.ts
  src/services/result/index.ts
  src/services/result/service.ts
  src/services/suggestion/converter.ts
  src/services/suggestion/service.ts
  src/services/suggestion/types.ts
  src/services/tab/converter.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
Labels: service

feature: update import statements and reorder properties in Result interface
  src/services/result/types.ts
Labels: service

refactor: reorder conditionals in onAction for clarity
  src/hooks/useEnterKeyControl.ts
Labels: hooks

feature: increase result count limit in fetchResults to 1000
  src/hooks/useResult.ts
Labels: hooks

fix: add missing comma in conditionals for onAction function
  src/hooks/useEnterKeyControl.ts
Labels: hooks

fix/update tab (#87)
  src/hooks/useEnterKeyControl.ts
  src/hooks/useResult.ts
  src/services/result/types.ts
Labels: hooks, service

feature: remove unused QUERY_TAB and QUERY_HISTORY message handling
  src/entrypoints/background/router/message.ts
Labels: backend

feature: remove unused QUERY_TAB and QUERY_HISTORY message handling (#88)
  src/entrypoints/background/router/message.ts
Labels: backend

feature: remove unused message types and related imports
  src/entrypoints/background/router/message.ts
  src/services/runtime/types.ts
Labels: backend, service

feature: remove unused message types and related imports (#89)
  src/entrypoints/background/router/message.ts
  src/services/runtime/types.ts
Labels: backend, service
