Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, components, hooks, backend, service, utilities, scripts, templates, ci

.github/labeler.yml:

doc:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
      - any-glob-to-any-file: "src/entrypoints/popup/**"
components:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/context/**"
hooks:
  - changed-files:
      - any-glob-to-any-file: "src/hooks/**"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - "src/entrypoints/background/**"
service:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
utilities:
  - changed-files:
      - any-glob-to-any-file: "src/utils/**"
scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
templates:
  - changed-files:
      - any-glob-to-any-file: "src/templates/**"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".gemini/**"

fix: add .env files to .gitignore
  .gitignore
Labels: none

fix: add release task to mise.toml and package.json
  mise.toml
  package.json
Labels: none

fix: remove unused type import and simplify filterValidResults function
  src/services/result/helper.ts
Labels: service

feature(result):add result service (#69)
  src/hooks/useControlTab.ts
  src/hooks/useEnterKeyControl.ts
  src/services/result/converter.ts
  src/services/result/helper.ts
  src/services/result/index.ts
  src/services/result/service.ts
  src/services/result/types.ts
  src/services/runtime/service.ts
  src/services/runtime/types.ts
Labels: hooks, service

fix: pass an empty object to contentService.open() on failure to open content
  src/services/runtime/service.ts
Labels: service

feat(bookmark): add NewBookmark type and related conversion functions
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
  src/services/bookmark/service.ts
  src/services/bookmark/types.ts
Labels: service

feat(history): add convertItemToNewHistory function and update HistoryService interface
  src/services/history/converter.ts
  src/services/history/service.ts
  src/services/history/types.ts
Labels: service

feat(suggestion): add NewSuggestion type and implement convertNewSuggestions function
  src/services/suggestion/converter.ts
  src/services/suggestion/helper.ts
  src/services/suggestion/service.ts
  src/services/suggestion/types.ts
Labels: service

feat(tab): add NewTab type and implement conversion functions for new tabs
  src/services/tab/converter.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
Labels: service

feat(result): update Result interface to use new types and improve data structure
  src/services/result/service.ts
  src/services/result/types.ts
Labels: service

feat(tab): make query parameter optional in QueryTabsRequest interface
  src/services/tab/helper.ts
  src/services/tab/types.ts
Labels: service

feat(result): implement result service dependencies and enhance converter functions for new types
  src/services/result/container.ts
  src/services/result/converter.ts
  src/services/result/service.ts
  src/services/result/types.ts
Labels: service

fix(converter): add missing commas in function parameter lists for consistency
  src/services/result/converter.ts
Labels: service

fix(service): add missing commas in function parameter lists for consistency
  src/services/suggestion/helper.ts
  src/services/suggestion/service.ts
Labels: service

fix(helper): add missing comma in filterValidBookmarks function parameter for consistency
  src/services/bookmark/helper.ts
Labels: service

Feaure/add new type result (#70)
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
  src/services/bookmark/service.ts
  src/services/bookmark/types.ts
  src/services/history/converter.ts
  src/services/history/service.ts
  src/services/history/types.ts
  src/services/result/container.ts
  src/services/result/converter.ts
  src/services/result/service.ts
  src/services/result/types.ts
  src/services/suggestion/converter.ts
  src/services/suggestion/helper.ts
  src/services/suggestion/service.ts
  src/services/suggestion/types.ts
  src/services/tab/converter.ts
  src/services/tab/helper.ts
  src/services/tab/service.ts
  src/services/tab/types.ts
Labels: service

fix: update devDependencies for Storybook addons
  package.json
  pnpm-lock.yaml
Labels: none

feat: add ButtonItem component with customizable props and default styles
  src/components/modules/ButtonItem/ButtonItem.stories.tsx
  src/components/modules/ButtonItem/ButtonItem.tsx
  src/components/modules/index.tsx
Labels: components

fix: add missing comma in ButtonItem component className prop
  src/components/modules/ButtonItem/ButtonItem.stories.tsx
  src/components/modules/ButtonItem/ButtonItem.tsx
Labels: components

fix: remove unnecessary key prop from ButtonItem component
  src/components/modules/ButtonItem/ButtonItem.stories.tsx
  src/components/modules/ButtonItem/ButtonItem.tsx
Labels: components

fix: refactor ButtonItem component to use defaultClassName for base styles
  src/components/modules/ButtonItem/ButtonItem.tsx
Labels: components

feat: add ButtonItem component with customizable props and default styles (#71)
  src/components/modules/ButtonItem/ButtonItem.stories.tsx
  src/components/modules/ButtonItem/ButtonItem.tsx
  src/components/modules/index.tsx
Labels: components

feat: add TabItem component with customizable props and default styles
  src/components/widgets/TabItem/TabItem.stories.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: update selected icon text color in ButtonItem component
  src/components/modules/ButtonItem/ButtonItem.tsx
Labels: components

fix: correct syntax for className in TabItem component
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: correct syntax error in className assignment for ArrowLongRightIcon in TabItem component
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: adjust className for layout consistency in TabItem component
  src/components/widgets/TabItem/TabItem.stories.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: optimize RightContent rendering in TabItem component using useMemo
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: add missing commas in className assignments in TabItem component
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: add missing comma in useMemo dependency array in TabItem component
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

feature/add tab item widgets (#72)
  src/components/modules/ButtonItem/ButtonItem.tsx
  src/components/widgets/TabItem/TabItem.stories.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

feat: add BookmarkItem component with customizable props and default styles
  src/components/widgets/BookmarkItem/BookmarkItem.stories.tsx
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
Labels: components

fix: standardize import quotes and action function syntax in BookmarkItem stories
  src/components/widgets/BookmarkItem/BookmarkItem.stories.tsx
Labels: components

fix: add missing comma in dependency array of useMemo in BookmarkItem component
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
Labels: components

fix: remove redundant justify-items-center class from BookmarkItem and TabItem components
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

feat: add BookmarkItem component with customizable props and default styles (#73)
  src/components/widgets/BookmarkItem/BookmarkItem.stories.tsx
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
Labels: components

feat: add HistoryItem component with customizable props and default styles
  src/components/widgets/HistoryItem/HistoryItem.stories.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
Labels: components

feat: add SuggestionItem component with customizable props and default styles
  src/components/widgets/SuggestionItem/SuggestionItem.stories.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
Labels: components

fix: correct formatting in HistoryItem and SuggestionItem components
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.stories.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
Labels: components

refactor: optimize LeftIcon definition in HistoryItem and SuggestionItem components
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
Labels: components
