Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, components, hooks, backend, service, utilities, scripts, templates, ci

feat: update translation keys for action labels in CalculationItem, BookmarkItem, and HistoryItem components; enhance request handling in useSearchResults hook and queryBookmarks service
  src/features/action/components/CalculationItem/CalculationItem.tsx
  src/features/bookmark/components/BookmarkItem/BookmarkItem.tsx
  src/features/history/components/HistoryItem/HistoryItem.tsx
  src/features/search/hooks/useSearchResults/hook.ts
  src/services/bookmark/service.ts
Labels: service

feat: enhance ResultList and SearchApp components with customizable className and listClassName props for improved styling
  src/features/search/components/ResultList/ResultList.tsx
  src/features/search/components/SearchApp/SearchApp.tsx
Labels: none

fix: address CodeRabbit review comments on side panel implementation
  src/entrypoints/options/App.tsx
  src/entrypoints/options/index.html
  src/entrypoints/options/main.tsx
  src/entrypoints/sidepanel/index.html
  src/entrypoints/sidepanel/main.tsx
  src/features/settings/components/SettingsButton/SettingsButton.tsx
  src/features/settings/components/ViewModeSelect/ViewModeSelect.tsx
  src/locales/en.json
  src/locales/ja.json
  src/services/runtime/types.ts
  src/services/storage/service.ts
Labels: service

feat: implement side panel view mode and settings options (#120)
  src/entrypoints/background/index.ts
  src/entrypoints/background/router/command.ts
  src/entrypoints/background/router/message.ts
  src/entrypoints/options/App.tsx
  src/entrypoints/options/index.html
  src/entrypoints/options/main.tsx
  src/entrypoints/sidepanel/App.tsx
  src/entrypoints/sidepanel/index.html
  src/entrypoints/sidepanel/main.tsx
  src/features/action/components/CalculationItem/CalculationItem.tsx
  src/features/bookmark/components/BookmarkItem/BookmarkItem.tsx
  src/features/history/components/HistoryItem/HistoryItem.tsx
  src/features/search/components/ResultFooter/ResultFooter.tsx
  src/features/search/components/ResultList/ResultList.tsx
  src/features/search/components/SearchApp/SearchApp.tsx
  src/features/search/hooks/useSearchResults/hook.ts
  src/features/settings/components/SettingsButton/SettingsButton.tsx
  src/features/settings/components/ViewModeSelect/ViewModeSelect.tsx
  src/features/settings/hooks/useViewMode.ts
  src/locales/en.json
  src/locales/ja.json
  src/services/bookmark/service.ts
  src/services/runtime/types.ts
  src/services/storage/helper.ts
  src/services/storage/service.ts
  src/services/storage/types.ts
  tsconfig.json
  wxt.config.ts
Labels: backend, service

docs: update CLAUDE.md with new commands and architecture details
  CLAUDE.md
Labels: none

refactor: remove options entrypoint files and associated code
  src/entrypoints/options/App.tsx
  src/entrypoints/options/index.html
  src/entrypoints/options/main.tsx
Labels: none

refactor: remove options entry from architecture documentation
  CLAUDE.md
Labels: none

docs: update README files to include links to English and Japanese versions
  README.md
  docs/README-ja.md
Labels: doc

docs: add architecture, service rules, and commands documentation
  .claude/rules/architecture.md
  .claude/rules/code-generation-service.md
  .claude/rules/commands.md
  .claude/rules/readme-sync.md
  .claude/rules/service-architecture.md
  CLAUDE.md
Labels: none

docs: add service layer design documentation in Japanese and English
  docs/services-ja.md
  docs/services.md
Labels: doc

docs: add arch-review command documentation for code analysis process
  .claude/commands/arch-review.md
  .gitignore
Labels: none

docs: add UI architecture documentation for component and hook conventions
  .claude/commands/arch-review/SKILL.md
  .claude/rules/ui-architecture.md
  CLAUDE.md
Labels: none

refactor: consolidate result item components into search/components/ResultList/part/
  src/features/search/components/ResultList/part/BookmarkItem/BookmarkItem.stories.tsx
  src/features/search/components/ResultList/part/BookmarkItem/BookmarkItem.tsx
  src/features/search/components/ResultList/part/CalculationItem/CalculationItem.stories.tsx
  src/features/search/components/ResultList/part/CalculationItem/CalculationItem.tsx
  src/features/search/components/ResultList/part/HistoryItem/HistoryItem.stories.tsx
  src/features/search/components/ResultList/part/HistoryItem/HistoryItem.tsx
  src/features/search/components/ResultList/part/ResultItem/ResultItem.tsx
  src/features/search/components/ResultList/part/SuggestionItem/SuggestionItem.stories.tsx
  src/features/search/components/ResultList/part/SuggestionItem/SuggestionItem.tsx
  src/features/search/components/ResultList/part/TabItem/TabItem.stories.tsx
  src/features/search/components/ResultList/part/TabItem/TabItem.tsx
  src/features/search/components/SearchApp/SearchApp.tsx
  src/features/search/hooks/useControlTab.ts
Labels: none

refactor: consolidate result item components into search/components/ResultList/part/ (#136)
  src/features/search/components/ResultList/part/BookmarkItem/BookmarkItem.stories.tsx
  src/features/search/components/ResultList/part/BookmarkItem/BookmarkItem.tsx
  src/features/search/components/ResultList/part/CalculationItem/CalculationItem.stories.tsx
  src/features/search/components/ResultList/part/CalculationItem/CalculationItem.tsx
  src/features/search/components/ResultList/part/HistoryItem/HistoryItem.stories.tsx
  src/features/search/components/ResultList/part/HistoryItem/HistoryItem.tsx
  src/features/search/components/ResultList/part/ResultItem/ResultItem.tsx
  src/features/search/components/ResultList/part/SuggestionItem/SuggestionItem.stories.tsx
  src/features/search/components/ResultList/part/SuggestionItem/SuggestionItem.tsx
  src/features/search/components/ResultList/part/TabItem/TabItem.stories.tsx
  src/features/search/components/ResultList/part/TabItem/TabItem.tsx
  src/features/search/components/SearchApp/SearchApp.tsx
  src/features/search/hooks/useControlTab.ts
Labels: none

.github/labeler.yml:

doc:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
      - any-glob-to-any-file: "src/entrypoints/popup/**"
components:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/context/**"
hooks:
  - changed-files:
      - any-glob-to-any-file: "src/hooks/**"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - "src/entrypoints/background/**"
service:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
utilities:
  - changed-files:
      - any-glob-to-any-file: "src/utils/**"
scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
templates:
  - changed-files:
      - any-glob-to-any-file: "src/templates/**"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".gemini/**"
