Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, components, hooks, backend, service, utilities, scripts, templates, ci

fix: simplify div structure in SuggestionItem component
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
Labels: components

feature/add suggestion and history item widgets (#74)
  src/components/widgets/HistoryItem/HistoryItem.stories.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.stories.tsx
  src/components/widgets/SuggestionItem/SuggestionItem.tsx
Labels: components

feat: add Layout component with props and context provider
  src/components/modules/Layout/Layout.stories.tsx
  src/components/modules/Layout/Layout.tsx
  src/components/modules/index.tsx
  src/components/widgets/index.tsx
Labels: components

fix: update import paths for Layout and SquareBadge components
  src/entrypoints/popup/App.tsx
Labels: popup

feat: add SuggestionItem, HistoryItem, BookmarkItem, and TabItem to widgets index
  src/components/widgets/index.tsx
Labels: components

chore/move layout component (#75)
  src/components/modules/Layout/Layout.stories.tsx
  src/components/modules/Layout/Layout.tsx
  src/components/modules/index.tsx
  src/components/widgets/index.tsx
  src/entrypoints/popup/App.tsx
Labels: popup, components

feat: add ResultList component with item mapping and rendering logic
  src/components/widgets/ResultList/ResultList.stories.tsx
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

feat: refactor BookmarkItem to encapsulate item data structure
  src/components/widgets/BookmarkItem/BookmarkItem.stories.tsx
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
Labels: components

feat: add ResultItem component with item mapping and mock data
  src/components/widgets/ResultList/part/ResultItem/ResultIem.stories.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultIem.tsx
  src/components/widgets/ResultList/part/ResultItem/mocks.ts
Labels: components

feat: refactor ResultList to use ItemComponent for rendering items
  src/components/widgets/ResultList/ResultList.stories.tsx
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

feat: add ResultItem component and fix import path in ResultList
  src/components/widgets/ResultList/ResultList.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultItem.stories.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultItem.tsx
Labels: components

fix: update key generation in ResultList to include item type for uniqueness
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

fix: correct syntax by adding missing commas in BookmarkItem component
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
Labels: components

feature/add result list widgets (#76)
  src/components/widgets/BookmarkItem/BookmarkItem.stories.tsx
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/ResultList/ResultList.stories.tsx
  src/components/widgets/ResultList/ResultList.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultItem.stories.tsx
  src/components/widgets/ResultList/part/ResultItem/ResultItem.tsx
  src/components/widgets/ResultList/part/ResultItem/mocks.ts
Labels: components

style: update ResultList component styling for improved layout
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

feature/add result list widgets (#77)
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

feat: add NotFoundItem component with storybook integration
  src/components/widgets/NotFoundItem/NotFoundItem.stories.tsx
  src/components/widgets/NotFoundItem/NotFoundItem.tsx
Labels: components

feat: update ButtonItem styles and add disabled prop
  src/components/modules/ButtonItem/ButtonItem.tsx
Labels: components

feat: simplify ResultFooter component by removing conditional rendering for count
  src/components/widgets/ResultFooter/ResultFooter.tsx
Labels: components

feat: refactor ResultList to render NotFoundItem when no items are present
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

feat: add QUERY_RESULT message handling and integrate resultService
  src/entrypoints/background/router/message.ts
Labels: backend

fix: update import path for MessageType in command router
  src/entrypoints/background/router/command.ts
Labels: backend

fix: update import path for MessageType in usePopupShortcut hook
  src/hooks/usePopupShortcut.ts
Labels: hooks

fix: update import types for useArrowKeyControl hook
  src/hooks/useArrowKeyControl.ts
Labels: hooks

refactor: remove unused MessageType enum from result types
  src/types/result.ts
Labels: none

feat: update NotFoundItem to include disabled prop and improve type definition
  src/components/widgets/NotFoundItem/NotFoundItem.stories.tsx
  src/components/widgets/NotFoundItem/NotFoundItem.tsx
Labels: components

feat: update ResultFooter to display 0 when count is undefined
  src/components/widgets/ResultFooter/ResultFooter.tsx
Labels: components

fix: add missing commas in NotFoundItem component for improved readability
  src/components/widgets/NotFoundItem/NotFoundItem.tsx
Labels: components

feature/add not found item (#79)
  src/components/modules/ButtonItem/ButtonItem.tsx
  src/components/widgets/NotFoundItem/NotFoundItem.stories.tsx
  src/components/widgets/NotFoundItem/NotFoundItem.tsx
  src/components/widgets/ResultFooter/ResultFooter.tsx
  src/components/widgets/ResultList/ResultList.tsx
Labels: components

fix: add error handling for QUERY_RESULT in routeMessage
  src/entrypoints/background/router/message.ts
Labels: backend

feat: implement calSingleCount helper function and update queryResults to use it
  src/services/result/helper.ts
  src/services/result/service.ts
Labels: service

fix: ensure currentWindow option defaults to false in queryNewTabs
  src/services/tab/service.ts
Labels: service

feature/add query result router (#78)
  src/entrypoints/background/router/command.ts
  src/entrypoints/background/router/message.ts
  src/hooks/useArrowKeyControl.ts
  src/hooks/usePopupShortcut.ts
  src/services/result/helper.ts
  src/services/result/service.ts
  src/services/tab/service.ts
  src/types/result.ts
Labels: hooks, backend, service

feature: add favIconUrl to NewBookmark data structure
  src/services/bookmark/converter.ts
  src/services/bookmark/types.ts
Labels: service

feature: add favIconUrl to NewHistory data structure
  src/services/history/converter.ts
  src/services/history/types.ts
Labels: service

feature: add favIconUrl handling to BookmarkItem, HistoryItem, and TabItem components
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: correct className formatting for favicon handling in BookmarkItem, HistoryItem, and TabItem components
  src/components/widgets/BookmarkItem/BookmarkItem.tsx
  src/components/widgets/HistoryItem/HistoryItem.tsx
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: remove onError handler from favicon image in TabItem component
  src/components/widgets/TabItem/TabItem.tsx
Labels: components

fix: update favicon URL handling in convertNewBookmark function
  src/services/bookmark/converter.ts
  src/services/bookmark/helper.ts
Labels: service

fix: refactor favicon URL handling in convertItemToNewHistory function
  src/services/history/converter.ts
  src/services/history/helper.ts
Labels: service

.github/labeler.yml:

doc:
  - changed-files:
      - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
      - any-glob-to-any-file: "src/entrypoints/popup/**"
components:
  - changed-files:
      - any-glob-to-any-file:
          - "src/components/**"
          - "src/context/**"
hooks:
  - changed-files:
      - any-glob-to-any-file: "src/hooks/**"
backend:
  - changed-files:
      - any-glob-to-any-file:
          - "src/entrypoints/background/**"
service:
  - changed-files:
      - any-glob-to-any-file:
          - "src/services/**"
utilities:
  - changed-files:
      - any-glob-to-any-file: "src/utils/**"
scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"
templates:
  - changed-files:
      - any-glob-to-any-file: "src/templates/**"
ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".gemini/**"
