Repository tomo-local/zen-search, changes with the labels that .github/labeler.yml gives for each.
All labels: doc, popup, content, components, backend, service, hooks, utilities, ci

feat: update Tailwind CSS configuration and add icon asset
  postcss.config.cjs
  src/assets/global.css
  src/assets/icon.png
  wxt.config.ts
Labels: none

feat: update Storybook configuration by removing unused PostCSS addon and adding Tailwind CSS plugin
  .storybook/main.ts
  .storybook/vite.config.ts
Labels: none

feat: remove unused icon assets from public directory
  src/public/icon.png
  src/public/icon/128.png
  src/public/icon/16.png
  src/public/icon/32.png
  src/public/icon/48.png
  src/public/icon/96.png
Labels: none

feat: remove unused PostCSS and autoprefixer dependencies from package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: none

feature/update wxt (#60)
  .storybook/main.ts
  .storybook/vite.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/assets/global.css
  src/assets/icon.png
  src/public/icon/128.png
  src/public/icon/16.png
  src/public/icon/32.png
  src/public/icon/48.png
  src/public/icon/96.png
  wxt.config.ts
Labels: none

feature: add result service with converter, helper, service, and types
  src/services/result/converter.ts
  src/services/result/helper.ts
  src/services/result/index.ts
  src/services/result/service.ts
  src/services/result/types.ts
Labels: service

feature: add queryResults method and update types for runtime service
  src/services/runtime/service.ts
  src/services/runtime/types.ts
Labels: service

fix: update tab ID type from string to number and ensure type safety in useEnterKeyControl
  src/hooks/useControlTab.ts
  src/hooks/useEnterKeyControl.ts
  src/services/tab/types.ts
Labels: service, hooks

feat: update ContentService to include windowId in open request and improve response handling
  src/services/content/service.ts
  src/services/content/types.ts
  src/services/tab/types.ts
Labels: service

feat: add autoFocus attribute to SearchInput component
  src/components/widgets/SearchInput/SearchInput.tsx
Labels: components

feat: enable accessibility rule for autofocus in linter configuration
  biome.json
Labels: none

refactor: improve command routing structure and remove unused CLOSE_POPUP case
  src/entrypoints/background/index.ts
  src/entrypoints/background/router/command.ts
  src/entrypoints/background/router/message.ts
Labels: backend

refactor: remove App and index entry points for content script
  src/entrypoints/content/App.tsx
  src/entrypoints/content/index.tsx
Labels: content

feat: add message listener to close popup and remove empty search query handling
  src/entrypoints/popup/main.tsx
  src/hooks/query/useQueryTabs.ts
Labels: popup, hooks

fix: correct syntax error in React.StrictMode rendering
  src/entrypoints/popup/main.tsx
Labels: popup

feature/fix bug and (#61)
  biome.json
  src/components/widgets/SearchInput/SearchInput.tsx
  src/entrypoints/background/index.ts
  src/entrypoints/background/router/command.ts
  src/entrypoints/background/router/message.ts
  src/entrypoints/content/App.tsx
  src/entrypoints/content/index.tsx
  src/entrypoints/popup/main.tsx
  src/hooks/query/useQueryTabs.ts
  src/services/content/service.ts
  src/services/content/types.ts
  src/services/tab/types.ts
Labels: popup, content, components, backend, service, hooks

chore: update version to 1.3.0 in manifest
  wxt.config.ts
Labels: none

Relase/1.3.0 (#62)
  wxt.config.ts
Labels: none

feature: add GitHub Actions workflow for release management
  .github/workflows/relase.yml
Labels: ci

feature: add GitHub Actions workflow for release management (#63)
  .github/workflows/relase.yml
Labels: ci

fix: update release workflow to correctly handle versioning and improve code structure
  .github/workflows/relase.yml
Labels: ci

fix: prepend 'v' to new version string and ensure release notes are generated
  .github/workflows/relase.yml
Labels: ci

feature: add GitHub Actions workflow for release management
  .github/workflows/relase-pr.yml
  .github/workflows/relase.yml
Labels: ci

fix: add force option to createOrUpdateFileContents in release PR workflow
  .github/workflows/relase-pr.yml
Labels: ci

fix: use PAT_TOKEN for GitHub token in release PR workflow
  .github/workflows/relase-pr.yml
Labels: ci

fix: update release PR workflow to handle existing PRs and improve branch creation logic
  .github/workflows/relase-pr.yml
Labels: ci

fix: replace PAT_TOKEN with GITHUB_TOKEN in release PR workflow
  .github/workflows/relase-pr.yml
Labels: ci

feature: add GitHub Actions workflow for automated release creation
  .github/workflows/release.yml
Labels: ci

feature: add GitHub Actions workflow for automated release creation (#65)
  .github/workflows/release.yml
Labels: ci

fix: rename workflow from "Create Release" to "Release"
  .github/workflows/release.yml
Labels: ci

fix: add missing path for wxt.config.ts in pull request trigger
  .github/workflows/release.yml
Labels: ci

fix: exclude wxt.config.ts from pull request trigger paths
  .github/workflows/release.yml
Labels: ci

fix: remove paths exclusion for wxt.config.ts in pull request trigger
  .github/workflows/release.yml
Labels: ci

fix: add paths section for wxt.config.ts in pull request trigger
  .github/workflows/release.yml
Labels: ci

fix: remove generation of release notes in create release job
  .github/workflows/release.yml
Labels: ci

fix: refactor release creation to use latest tag instead of branch name
  .github/workflows/release.yml
Labels: ci

fix: allow manual trigger for release creation workflow
  .github/workflows/release.yml
Labels: ci

fix: update release workflow to create tags based on current version in wxt.config.ts
  .github/workflows/release.yml
Labels: ci

fix: remove unnecessary semver installation step from release workflow
  .github/workflows/release.yml
Labels: ci

fix: simplify release creation by removing redundant tag and release checks
  .github/workflows/release.yml
Labels: ci

.github/labeler.yml:

doc:
  - changed-files:
    - any-glob-to-any-file: "docs/**"
popup:
  - changed-files:
    - any-glob-to-any-file: "src/entrypoints/popup/**"
content:
  - changed-files:
    - any-glob-to-any-file: "src/entrypoints/content/**"
components:
  - changed-files:
    - any-glob-to-any-file:
      - "src/components/**"
      - "src/context/**"
backend:
  - changed-files:
    - any-glob-to-any-file:
      - "src/functions/**"
      - "src/entrypoints/background/**"
service:
  - changed-files:
    - any-glob-to-any-file:
      - "src/services/**"
hooks:
  - changed-files:
    - any-glob-to-any-file: "src/hooks/**"
utilities:
  - changed-files:
    - any-glob-to-any-file: "src/utils/**"
ci:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/workflows/**"
      - ".gemini/**"
